/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F6F8F9;
}

/* Header */

header{
    background-color: white;
    padding: 20px;
}

#mainlogo{
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle
}

